.App {
  text-align: center;
}

body {
  background: rgb(27,27,27) !important;
background: linear-gradient(90deg, rgba(27,27,27,1) 0%, rgba(53,75,106,1) 0%, rgba(50,79,115,1) 24%, rgba(4,132,238,1) 72%, rgba(4,132,238,1) 88%) !important;
}
.cover {
  box-shadow: 0px 4px 16px rgba(17,17,26,0.9), 0px 8px 24px rgba(17,17,26,0.9), 0px 16px 56px rgba(17,17,26,0.9);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
